[Unit]
Description=dsp-agent
After=syslog.target network.target

[Service]
Type=simple
User=root
ExecStart=/var/dsp/agent.py --log-file /var/log/dsp-agent.log
PrivateTmp=false
KillMode=process
#Restart=on-failure

[Install]
WantedBy=multi-user.target