<!-- TOUCH Modal -->
<div id="touch-modal" class="modal" tabindex="-1" aria-labelledby="touch-header"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-warning commit-btn" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-code-commit"></i>COMMIT
                    </button>
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-close"></i>CLOSE
                    </button>
                </div>
                <h4 class="modal-title text-white" id="mkdir-header">TOUCH PYS</h4>
            </div>
            <form>
                <div class="modal-body px-2 pt-2 pb-0">

                    <div class="mb-2">
                        <label class="form-label">TEXT</label>
                        <textarea type="text" rows="18" class="form-control" name="text" placeholder="TEXT"></textarea>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">TARGET*</span>
                        <input type="text" class="form-control" name="target" aria-label="PATH OUT">
                        <span class="input-group-text">.py</span>
                    </div>
                </div>
                <div class="modal-footer px-2 pb-2">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->