.menu-left {
    position: absolute;
    width: 190px;
    z-index: 10;
    bottom: 0;
    top: 0;
    padding-top: 55px;
}

.content-page {
    margin-left: 190px;
    overflow: hidden;
    min-height: 100vh
}

.search {
    padding: 0 24px;
    min-height: 50px;
    position: fixed;
    left: 190px;
    top: 0;
    right: 0;
    z-index: 1001
}

.page-title-right {
    float: right;
}

.modal-footer {
    justify-content: space-between;
}

.table > :not(caption) > * > * {
    padding: .1rem .1rem;
}

.btn-group-sm > .btn, .btn-sm {
    padding: .1rem .5rem;
    font-size: .875rem;
    border-radius: .2rem
}

textarea.form-control{
    line-height: 1.2;
}

.menu-left .nav li{
    padding-left: 1em;
}

.menu-left span{
    margin-left: 0.2em;
}
