<!-- VIEW Modal -->
<div id="view-modal" class="modal" tabindex="-1" aria-labelledby="view-header"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-warning commit-btn" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-code-commit"></i>COMMIT
                    </button>
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-close"></i>CLOSE
                    </button>
                </div>
                <h4 class="modal-title text-white" id="mkdir-header">VIEW</h4>
            </div>
            <form>
                <div class="modal-body px-2 pt-2 pb-0">
                    <div class="input-group mb-2">
                        <span class="input-group-text">TARGET</span>
                        <input type="text" class="form-control" readonly name="target" aria-label="PATH OUT">
                    </div>
                    <div class="write-mdg-box mb-2">
                        <textarea class="form-control" rows="40" name="text" spellcheck="false" tabindex="0"
                                  wrap="off"></textarea>
                        <img class="img-fluid" src="">
                    </div>
                    <div class="input-group mb-2">
                        <table style="table-layout: auto"
                               class="table-striped table-hover table-bordered table-condensed table-centered table-nowrap mb-0">
                        </table>
                    </div>
                </div>
            </form>
            <div class="modal-footer px-2 pb-2">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MKDIR Modal -->
<div id="mkdir-modal" class="modal" tabindex="-1" aria-labelledby="mkdir-header"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-warning commit-btn" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-code-commit"></i>COMMIT
                    </button>
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-close"></i>CLOSE
                    </button>
                </div>
                <h4 class="modal-title text-white" id="mkdir-header">MKDIR</h4>
            </div>
            <form>
                <div class="modal-body px-2 pt-2 pb-0">
                    <div class="mb-2">
                        <input type="text" class="form-control" name="dir" placeholder="MKDIR">
                    </div>
                </div>
            </form>
            <div class="modal-footer px-2 pb-2">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ENCRYPT/DECRYPT Modal -->
<div id="en-decrypt-modal" class="modal" tabindex="-1" aria-labelledby="en-decrypt-header"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-warning commit-btn" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-code-commit"></i>COMMIT
                    </button>
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-close"></i>CLOSE
                    </button>
                </div>
                <h4 class="modal-title text-white" id="mkdir-header">EN-DECRYPT</h4>
            </div>
            <form>
                <div class="modal-body px-2 pt-2 pb-0">
                    <div class="mb-2">
                        <label class="form-label">AES PSW*</label>
                        <input type="text" class="form-control" name="psw_aes"
                               placeholder="AES PASSWORD FOR EN-DECRYPT, ******ZOO">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">STREAM PSW*</label>
                        <input type="text" class="form-control" name="psw_stream"
                               placeholder="STREAM PASSWORD FOR EN-DECRYPT, ------ZOO">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">NONCE*</label>
                        <input type="text" class="form-control" name="nonce"
                               placeholder="NONCE FOR EN-DECRYPT, 159-162-">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">TYPE</label>
                        <select class="form-control" name="type">
                            <option class="form-control" value="DECRYPT">DECRYPT 解密</option>
                            <option class="form-control" value="ENCRYPT">ENCRYPT 加密</option>
                        </select>
                    </div>
                    <input type="text" hidden name="target" placeholder="TARGET">
                </div>
                <div class="modal-footer px-2 pb-2">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- HIS Modal -->
<div id="his-modal" class="modal" tabindex="-1" aria-labelledby="view-header"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i
                        class="fas fa-fw fa-close"></i>CLOSE
                </button>
                <h4 class="modal-title text-white" id="mkdir-header">CLOSE</h4>
            </div>
            <div class="modal-body px-2 pt-2 pb-0">
                <div class="write-mdg-box mb-2">
                        <textarea readonly class="form-control" rows="45" name="text" spellcheck="false" tabindex="0"
                                  wrap="off"></textarea>
                </div>
            </div>
            <div class="modal-footer px-2 pb-2">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- TOUCH Modal -->
<div id="touch-modal" class="modal" tabindex="-1" aria-labelledby="touch-header"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-warning commit-btn" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-code-commit"></i>COMMIT
                    </button>
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-close"></i>CLOSE
                    </button>
                </div>
                <h4 class="modal-title text-white" id="mkdir-header">TOUCH YAML</h4>
            </div>
            <form>
                <div class="modal-body px-2 pt-2 pb-0">
                    <div class="input-group mb-2">
                        <span class="input-group-text">TARGET*</span>
                        <input type="text" class="form-control" name="target" aria-label="PATH OUT">
                        <span class="input-group-text">.yaml</span>
                    </div>
                    <div class="mb-2">
                            <textarea type="text" rows="18" class="form-control" name="text"
                                      placeholder="REPTILE"></textarea>
                    </div>
                </div>
                <div class="modal-footer px-2 pb-2">
                </div>
            </form>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->