<div class="container-fluid">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="his" aria-labelledby="offcanvasNavbarLabel"
         style="z-index:1055">
        <div class="offcanvas-header p-3">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="fa-solid fa-fw fa-xmark"></i></button>
                <button class="btn btn-outline-dark clean" type="button"><i class="fas fa-fw fa-trash"></i></button>
                <button class="btn btn-outline-dark max" type="button"><i class="fa-solid fa-fw fa-maximize"></i></button>
                <button class="btn btn-outline-dark med" type="button"><i class="fa-solid fa-fw fa-square"></i></button>
                <button class="btn btn-outline-dark min" type="button"><i class="fa-solid fa-fw fa-minimize"></i></button>
            </div>
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">HISTORY</h5>
        </div>
        <div class="offcanvas-body p-2">
            <textarea readonly class="form-control" rows="52" name="text" spellcheck="false" tabindex="0"
                  wrap="off"></textarea>
        </div>
    </div>
</div>
