<div class="menu-top pb-2">
    <form>
        <div class="input-group">
            <input type="text" class="form-control" name="search" id="top-search" placeholder="SEARCH...">
            <button type="button" id="search" class="btn btn-outline-info"><i class="fas fa-fw fa-search"></i></button>
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="offcanvas"
                    data-bs-target="#his" aria-controls="offcanvasNavbar">
                <i class="fas fa-fw fa-history"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#fh-restart-modal">
                <i class="fa-solid fa-fw fa-retweet"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#"><i class="fas fa-fw fa-lock"></i></button>
        </div>
    </form>
</div>
<script>

    function progress(data) {
        console.log('progress', data);
        let kid = escape(data.kid);
        let $btn = $(`#${kid}`);
        if (data.progress === 100) {
            $btn.attr('disabled', false);
        } else if (data.progress === 0){
            $('#his pre').empty();
        } else {
            $btn.attr('disabled', true);
        }
    }

    function his(data) {
        $('#his pre').append(data)
    }

    let http = 'http://' + document.domain + (location.port ? ":" + location.port : "");
    let io_security = io.connect(http + '/security', {'sync disconnect on unload': true});
    let io_dsp = io.connect(http + '/dsp', {'sync disconnect on unload': true});
    let io_zoo = io.connect(http + '/zoo', {'sync disconnect on unload': true});

    io_security.emit('join', {'room': 'progress'});
    io_security.on('his', his);
    io_security.on('progress', progress);

    io_dsp.emit('join', {'room': 'progress'});
    io_dsp.on('his', his);
    io_dsp.on('progress', progress);

    io_zoo.emit('join', {'room': 'progress'});
    io_zoo.on('his', his);
    io_zoo.on('progress', progress);

    $(document).ready(function () {
        {#$(".modal").draggable();#}
        let $his = $('#his');

        $his.on('click', '.clean', function () {
            $('#his pre').empty();
        });
        $his.on('click', '.med', function () {
            $his.css("width", '50%');
        });
        $his.on('click', '.max', function () {
            $his.css("width", '100%');
        });
        $his.on('click', '.min', function () {
            $his.css("width", '30%');
        });

        let MFH = Object.create(ModelFH);
        MFH.restart = {
            'u': '/restart',
            'modal_id': 'fh-restart-modal',
            '$btn': $("#fh-restart-modal .commit-btn"),
            'f': function () {
                commit_from_model(this, MFH, false)
            }
        };
        MFH.restart.f();
    });
</script>