<div class="menu-top pb-2">
    <form>
        <div class="input-group">
            <input type="text" class="form-control" id="top-search" placeholder="SEARCH...">
            <button type="submit" class="btn btn-outline-info"><i class="fas fa-fw fa-search"></i></button>
            <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                    data-bs-target="#his-modal"><i class="fas fa-fw fa-circle-exclamation"></i></button>
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#"><i class="fas fa-fw fa-lock"></i></button>
        </div>
    </form>
</div>
<script>
    let io_security = io.connect(
        'http://' + document.domain + (location.port ? ":" + location.port : "") + '/security',
        {'sync disconnect on unload': true});
    io_security.emit('join', {'room': 'progress'});
    io_security.on('his', function (data) {
        $('#his-modal textarea').append(data)
    });

    let io_dsp = io.connect(
        'http://' + document.domain + (location.port ? ":" + location.port : "") + '/dsp',
        {'sync disconnect on unload': true});
    io_dsp.emit('join', {'room': 'progress'});
    io_dsp.on('his', function (data) {
        $('#his-modal textarea').append(data)
    });

    $(document).ready(function () {
        $(".modal").draggable();
    });
</script>