<div class="menu-top pb-2">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." id="top-search">
        <button type="button" class="btn btn-outline-info">Search</button>
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#his-modal"><i class="fas fa-fw fa-history"></i></button>
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#"><i class="fas fa-fw fa-lock"></i></button>
    </div>
</div>
<script>
    {#let io_security = io.connect(#}
    {#    'http://' + document.domain + (location.port ? ":" + location.port : "") + '/security',#}
    {#    {'sync disconnect on unload': true});#}
    {#io_security.emit('join', {'room': 'progress'});#}
    {#io_security.on('progress', function (data) {#}
    {#    console.log('data', data);#}
    {# });#}

    let io_dsp = io.connect(
        'http://' + document.domain + (location.port ? ":" + location.port : "") + '/dsp',
        {'sync disconnect on unload': true});
    io_dsp.emit('join', {'room': 'progress'});
    io_dsp.on('his', function (data) {
        $('#his-modal textarea').append(data)
    });
</script>