<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li><h3>SECURITY></h3></li>
                        <li><h3><strong>TSUNAMI</strong></h3></li>
                    </ol>
                </div>
                <div class="btn-group">
                    <button type="button" id="back" class="btn btn-outline-secondary"><i
                            class="fas fa-fw fa-backward"></i>BACK
                    </button>
                    <button type="button" id="refresh" class="btn btn-outline-info"><i class="fas fa-fw fa-refresh"></i>REFRESH
                    </button>
                    <button type="button" id="scan" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#scan-modal"><i class="fas fa-fw fa-search"></i>SCAN
                    </button>
                    <button type="button" id="delete" class="btn btn-outline-danger"><i class="fas fa-fw fa-trash"></i>DELETE
                    </button>
                </div>
                <div id="parents" class="mt-2"></div>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered table-condensed table-no-bordered table-centered table-nowrap mb-0"
                           id="scan-table"
                           data-toggle="table"
                           data-locale="zh-CN"
                           data-sticky-header="true"
                           data-show-jumpto="true"
                           data-icon-size="sm"
                           data-page-size="20"
                           data-side-pagination="server"
                           data-click-to-select="true"
                           data-pagination="true"
                           data-falign="center"
                           data-search="true"
                           data-id-field="id"
                           data-sort-name="id"
                           data-sort-order="desc"
                           data-pagination-h-align="left"
                           data-pagination-detail-h-align="right"
                           data-unique-id="id"
                           data-page-list="[20, 50, 500]">
                        <thead class="table-light">
                        <tr>
                            <th data-align="center" data-field="state" data-width="52px" data-checkbox="true"></th>
                            <th data-align="center" data-width="52px" data-formatter="iFormatter">num</th>
                            <th data-align="center" data-field="id" data-visible="false">id</th>
                            <th data-align="left" data-formatter="operateFormatter" data-width="140px">operation</th>
                            <th data-align="left" data-field="_file" data-formatter="fileFormatter">file</th>
                            <th data-align="center" data-field="_isdir" data-visible="false">isdir</th>
                            <th data-align="right" data-field="_ctime">ctime</th>
                            <th data-align="right" data-field="_mtime">mtime</th>
                            <th data-align="right" data-field="_size">size</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->
    {% include 'modal.html' %}
    {% include folder + '/index_modal.html' %}

</div> <!-- container -->
<script>
    let task_io = io.connect(
        'http://' + document.domain + (location.port ? ":" + location.port : "") + '/security',
        {'sync disconnect on unload': true});

    task_io.emit('join', {'room': 'progress'});
    task_io.on('progress', function (data) {
        console.log('data', data);
    });

    let $table = $("#scan-table");
    let $back = $("#back");
    let target = $.url().param('target');

    function iFormatter(value, row, index) {
        let options = $table.bootstrapTable('getOptions');
        return options.pageSize * (options.pageNumber - 1) + index + 1;
    }

    function fileFormatter(value, row) {
        if (!row._isdir) {
            return value
        }
        return '<a href="/webs/security/tsunami/index?target=' + row.id + '">' + value + '</a>'
    }

    function operateFormatter(value, row) {
        if (row._isdir) {
            return '';
        }
        return '<div class="btn-group" role="group">'
            + '<button type="button" name="' + row.id + '" data-bs-toggle="modal" data-bs-target="#view-modal" class="btn btn-outline-success btn-sm view-btn">'
            + 'View</button>'
            + '</div>';
    }

    if (!target) {
        $back.hide();
    } else {
        $back.on('click', function () {
            history.back();
        });
    }

    $(document).ready(function () {
        $(".modal").draggable();

        listdir($table, '/security/tsunami/index', target, '/webs/security/tsunami/index');
        view('/security/tsunami/view');
        confirm_do($("#delete"), $table, "DELETE", "/security/tsunami/delete", target);

        $("#scan-modal .commit-btn").on('click', function () {
            task_io.emit('task', {
                'action': 'tsunami:scan',
                'IS_PARALLEL': false,
                'params': {
                    'jar': $('#scan-modal input[name=jar]').val(),
                    'ip_v4_target': $('#scan-modal input[name=ip-v4-target]').val(),
                    'location': $('#scan-modal input[name="config.location"]').val(),
                    'output_format': $('#scan-modal input[name=output-format]').val()
                }
            });
        });
    })
</script>
