
<!-- SCAN Modal -->
<div id="scan-modal" class="modal" tabindex="-1" aria-labelledby="scan-header"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-silver">
                <h4 class="modal-title" id="scan-header">SCAN</h4>
            </div>
            <div class="p-1">
                <div class="modal-body px-2 pt-2 pb-0">
                    <form>
                        <div class="mb-2">
                            <label class="form-label">jar*</label>
                            <input type="text" class="form-control" name="jar" value="tsunami-main-0.0.10-SNAPSHOT-cli.jar"">
                        </div>
                        <div class="mb-2">
                            <label class="form-label">--ip-v4-target*</label>
                            <input type="text" class="form-control" name="ip-v4-target" aria-label="PATH OUT">
                        </div>
                        <div class="mb-2">
                            <label class="form-label">-Dtsunami-config.location*</label>
                            <input type="text" class="form-control" name="config.location" value="tsunami.yaml">
                        </div>
                        <div class="mb-2">
                            <label class="form-label">--scan-results-local-output-format*</label>
                            <input type="text" class="form-control" name="output-format" value="JSON">
                        </div>
                    </form>
                </div>
                <div class="modal-footer px-2 pb-2">
                    <div class="col-6 d-grid m-0 p-0">
                        <button type="button" class="btn btn-outline-warning commit-btn" data-bs-dismiss="modal"><i
                                class="fas fa-fw fa-code-commit"></i> SCAN
                        </button>
                    </div>
                    <div class="col-6 d-grid m-0 p-0">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal"><i
                                class="fas fa-fw fa-close"></i>CLOSE
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->