<!DOCTYPE html>
<html class="menuitem-active" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="https://coderthemes.com/hyper/saas/assets/images/favicon.ico">

    <!-- App css -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery-confirm.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-table.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-table-sticky-header.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-table-page-jump-to.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/app.css" rel="stylesheet" type="text/css" id="app-style">

</head>
<body>
<div id="view-modal">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark p-2">
                <button type="submit" class="btn btn-outline-warning commit-btn" data-bs-dismiss="modal"><i
                        class="fas fa-fw fa-code-commit"></i>COMMIT
                </button>
                <h4 class="modal-title text-white" id="mkdir-header">VIEW</h4>
            </div>
            <div class="modal-body px-2 pt-2 pb-0">
                <div class="input-group mb-2">
                    <span class="input-group-text">TARGET</span>
                    <input type="text" class="form-control f-data" readonly name="target" aria-label="PATH OUT">
                </div>
                <div class="write-mdg-box mb-2">
                    <textarea class="form-control f-data" rows="30" name="text" spellcheck="false" tabindex="0"
                              wrap="off"></textarea>
                    <img class="img-fluid" src="">
                </div>
                <div class="input-group mb-2">
                    <table style="table-layout: auto"
                           class="table-striped table-hover table-bordered table-condensed table-centered table-nowrap mb-0">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>