
<!-- Image Operates Modal -->
<div id="operates-modal" class="modal" tabindex="-1" aria-labelledby="operates-header" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-silver">
                <h4 class="modal-title" id="operates-header">IMAGE OPERATE</h4>
            </div>
            <div class="p-1">
                <div class="modal-body px-2 pt-2 pb-0">
                    <form>
                        <input type="text" hidden name="target">
<!--                        <div class="mb-2">-->
<!--                            <label class="form-label">OUT*</label>-->
<!--                            <input type="text" class="form-control" name="path_out" value="static/images/webp-resize-2000" placeholder="PATH OUT">-->
<!--                        </div>-->
                        <div class="mb-2">
                            <label class="form-label">OPERATE</label>
                            <select class="form-control" name="operate">
                                <option selected value="do_all">DO ALL</option>
                                <option value="rotate">ROTATE</option>
                                <option value="resize">RESIZE</option>
                                <option value="ink">INK</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer px-2 pb-2">
                    <div class="col-6 d-grid m-0 p-0">
                        <button type="button" class="btn btn-outline-warning commit-btn" data-bs-dismiss="modal"><i
                                class="fas fa-fw fa-code-commit"></i> COMMIT
                        </button>
                    </div>
                    <div class="col-6 d-grid m-0 p-0">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal"><i
                                class="fas fa-fw fa-close"></i>CLOSE
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->