<!-- Image Operates Modal -->
<div id="operates-modal" class="modal" tabindex="-1" aria-labelledby="operates-header" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header bg-dark">
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-warning commit-btn" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-code-commit"></i>COMMIT
                    </button>
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i
                            class="fas fa-fw fa-close"></i>CLOSE
                    </button>
                </div>
                <h4 class="modal-title text-white" id="mkdir-header">IMAGE OPERATE</h4>
            </div>
            <form>
                <div class="modal-body px-2 pt-2 pb-0">
                    <input type="text" hidden name="target">
                    <div class="mb-2">
                        <label class="form-label">OPERATE</label>
                        <select class="form-control" name="operate">
                            <option selected value="do_all">DO ALL</option>
                            <option value="rotate">ROTATE</option>
                            <option value="resize">RESIZE</option>
                            <option value="ink">INK</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer px-2 pb-2">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->